@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
body {
  font-family: "Noto Sans TC", sans-serif;
  font-family: "Fjalla One", sans-serif;
}
#app {
  height: 100vh;
  background: #304030;
  overflow: hidden;
}

#left-navbar {
  top: 0px;
  left: 0px;
  width: 80px;
  height: 100vh;
  background: #e8e8e8 0% 0% no-repeat padding-box;
  opacity: 1;
  position: fixed;
  z-index: 99999999999999999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  .btns {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease-out;
  }
  .btns:hover {
    background: white;
  }
}

.b-sidebar-header {
  display: none !important;
  height: 80px;
}
.list-outer {
  padding-top: 80px;
}
.text-outer {
  padding-top: 30px;
  .form-control {
    border: none;
    border-radius: 40px;
    height: 55px;
    margin-top: 20px;
    padding-left: 25px;
    position: relative;
    font-weight: 600;
  }
  .form-control:focus {
    border: none;
    outline: none;
    box-shadow: none;
  }
  .submit {
    background: #f08448;
    border: none;
    position: absolute;
    right: 60px;
    top: 185px;
    padding: 5px 8px;
  }
  .submit:active,
  .submit:hover {
    background: #f07448 !important;
    border: none;
    box-shadow: none;
  }
  .submit:focus {
    background: #f08448 !important;
    border: none;
    box-shadow: none;
  }
}
.text-color {
  color: #e8e8e8;
  .opacity-50 {
    opacity: 50%;
  }
}
.b-sidebar-body {
  padding: 0 50px;
}
.btn .b-icon.bi {
  font-size: 200%;
  vertical-align: middle;
  border: none;
}
.btn .b-icon.bi:active {
  border: 0;
}

#sidebar-1,
#sidebar-2 {
  padding-left: 80px;
  background-color: #304030 !important;
  font-weight: 600;
}

.doneNumber {
  width: 100%;
}

.today {
  width: 100%;
  margin-right: 35px;
}
.thisWeek {
  width: 100%;
}
.box {
  margin-top: 1.2rem;
  width: 100%;
  height: 200px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}
.box-child {
  width: 50%;
  height: 100%;
}

.number {
  font-size: 120px;
  height: 75%;
  margin-bottom: 0;
  text-align: center;
  padding-top: 15px;
  color: #6c9460;
}
.finishedNumber {
  color: #f08448;
}
.description {
  height: 25%;
  margin-bottom: 0;
  text-align: center;
  padding-top: 8px;
}

.line {
  height: 80%;
  width: 1px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

#row-content {
  margin-left: 80px;
  width: 100vw;
  transition: all 300ms ease-in-out 0s;
}
.vh-50 {
  height: 50vh;
}
.bgtomato {
  max-width: none;
  width: auto;
  img {
    width: 1200px;
    // margin-right: 110px;
    transition: all 300ms ease-in-out 0s;
  }
}

.time {
  font-family: "Fjalla One", sans-serif;
  font-size: 200px;
  color: #e8e8e8;
}
.time-btn {
  background: transparent;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 2px solid #e8e8e8;
  padding: 0;
}
.time-btn img {
  vertical-align: bottom;
}
.mute {
}
.playStop {
  width: 65px;
  height: 65px;
  background: #e8e8e8;
  margin-left: 1rem;
  margin-right: 1rem;
}
.playStop:hover,
.playStop:focus,
.playStop:active {
  background: #e8e8e8;
  background-color: #e8e8e8 !important;
}
.delete {
}

.h-line {
  width: 100%;
  height: 1px;
  opacity: 0.5;
  background: #e8e8e8;
}

.circle {
  border-radius: 50px;
  width: 25px;
  height: 25px;
  border: 2px solid #e8e8e8;
  cursor: pointer;
  transition: all 200ms ease-out;
  margin-top: -1px;
  &:hover {
    background: #5c8051
  }
}

.text-e8 {
  color: #e8e8e8;
}

.btns-outer {
  width: 30px;
  border-radius: 50%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 200ms ease-out;
  margin-top: -5px;
  cursor: pointer;
  &:hover {
    background: #5c8051
  }
}
